<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <title>Join the room</title>
  <style>
    body {
      background-color: #222;
      color: #fff;
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
    }

    #container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100vh;
      width: 100vw;
    }

    #input-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 20px;
    }

    #input-container label {
      margin-bottom: 10px;
    }

    #input-container input,
    #input-container select {
      background-color: #444;
      color: #fff;
      border: none;
      border-radius: 5px;
      padding: 10px;
      font-size: 16px;
      margin-bottom: 10px;
      width: 100%;
      max-width: 400px;
      box-sizing: border-box;
    }

    #send-button {
      background-color: #777;
      color: #fff;
      border: none;
      border-radius: 5px;
      padding: 10px;
      margin-left: 10px;
      cursor: pointer;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    }

    #send-button:hover {
      background-color: #999;
    }

    .lst-stanze-btn {
      background-color: #777;
      color: #fff;
      border: none;
      border-radius: 5px;
      padding: 10px;
      margin-left: 10px;
      cursor: pointer;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
      text-decoration: none;
      margin-bottom: 10px;
    }
  </style>
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
</head>
<body>
<div id="container">
  <div id="input-container">
    <a class="lst-stanze-btn" href="/room-list">Lista Stanze</a>
    <hr/>
    <p><strong>OPPURE</strong></p>
    <hr/>
    <label for="input-field">Inserisci il codice:</label>
    <input type="text" id="input-field" />
    <label for="privilege-select">Che tipo di privilegio vuoi avere?</label>
    <select id="privilege-select">
      <option value="giocatore">Giocatore</option>
      <option value="conduttore">Conduttore</option>
      <option value="spettatore">Spettatore</option>
    </select>
    <button id="send-button" onclick="go_to_game()"><i class="fa fa-paper-plane"></i></button>
  </div>
</div>
<script type="text/javascript">
  function go_to_game() {
    const input = document.getElementById('input-field');
    // Get the selected option
    const privilege = document.getElementById('privilege-select').value;
    const code = input.value;

    if(!code) {
      alert('Inserisci il codice della stanza');
      return;
    }

    if(!privilege) {
      alert('Seleziona un privilegio');
      return;
    }

    if (code.length > 0) {
      window.location.href = `/game?roomId=${code}&privilege=${privilege}`;
    }
  }
</script>
</body>
</html>
